body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #6b2c70; /* Couleur aubergine */
    color: #fff;
    padding: 1em;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #6b2c70; /* Couleur aubergine */
    border-bottom: 2px solid #6b2c70; /* Couleur aubergine */
    padding-bottom: 10px;
}

a {
    color: #6b2c70; /* Couleur aubergine */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: #542b61; /* Changement de couleur au survol */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #6b2c70; /* Couleur aubergine */
    color: #fff;
}

@media only screen and (max-width: 600px) {
    section {
        padding: 10px;
    }
}
