/* Sélecteur global pour le corps de la page HTML */
body {
    font-family: 'Arial', sans-serif; /* Police de caractères utilisée pour le texte */
    margin: 0; /* Supprime les marges par défaut du corps de la page */
    padding: 0; /* Supprime le rembourrage par défaut du corps de la page */
    background-color: #f4f4f4; /* Couleur de fond de la page */
    color: #333; /* Couleur du texte */
}

/* Styles pour la section d'en-tête */
header {
    background-color: #333; /* Couleur de fond de l'en-tête */
    color: #fff; /* Couleur du texte dans l'en-tête */
    padding: 1em; /* Espace intérieur autour du contenu de l'en-tête */
    text-align: center; /* Alignement du texte au centre */
}

/* Styles pour le titre principal (h1) dans l'en-tête */
h1 {
    margin: 0; /* Supprime la marge par défaut du titre principal */
}

/* Styles pour les sections de contenu de la page */
section {
    max-width: 800px; /* Largeur maximale de la section */
    margin: 20px auto; /* Marge autour de la section et centrage horizontale */
    padding: 20px; /* Espace intérieur autour du contenu de la section */
    background-color: #fff; /* Couleur de fond de la section */
    border-radius: 5px; /* Arrondi des coins de la section */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère autour de la section */
}

/* Styles pour les sous-titres (h2) dans les sections */
h2 {
    color: #333; /* Couleur du texte pour les sous-titres */
}

/* Styles pour les liens */
a {
    color: #007BFF; /* Couleur des liens */
    text-decoration: none; /* Supprime la décoration par défaut des liens (soulignement) */
}

/* Styles pour les liens au survol (hover) */
a:hover {
    text-decoration: underline; /* Soulignement des liens au survol */
}

/* Styles pour la section de pied de page */
footer {
    text-align: center; /* Alignement du texte au centre dans le pied de page */
    padding: 10px; /* Espace intérieur autour du contenu du pied de page */
    background-color: #333; /* Couleur de fond du pied de page */
    color: #fff; /* Couleur du texte dans le pied de page */
}

/* Styles pour les écrans avec une largeur maximale de 600px */
@media only screen and (max-width: 600px) {
    section {
        padding: 10px; /* Réduit l'espace intérieur des sections pour les petits écrans */
    }
}
